body {
  margin: 0 auto;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(249, 247, 247);
}

.container {
  margin: 100px auto;
  height: 1000px;
  width: 800px;
  border: 2px solid lightgrey;
  background-color: white;
}

h1 {
  font-size: 56px;
}

form {
  padding: 16px;
}

#itemInput {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  padding: 2px;
}

#addItemButton {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
}

ul {
  list-style: none;
  cursor: pointer;
  padding-inline-start: 0px;
}

li {
  margin: 4px 230px;
}

.checkbox {
  margin-right: 8px;
  cursor: pointer;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.item {
  display: inline-block;
  font-family: "Lucida Handwriting Std";
}

.cross {
  margin-left: auto;
  padding: 0px 6px 1px;
  color: #696969;
}

.cross:hover {
  background-color: #f6f6f6;
  border-radius: 50%;
}

.checked {
  color: #969696;
  text-decoration: line-through;
}
