body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#itemInput {
  font-family: 'Courier New', Courier, monospace;
}

#addItemButton {
  font-family: 'Courier New', Courier, monospace;
}

ul {
  list-style: none;
  cursor: pointer;
  padding-inline-start: 8px;
  width: 213px;
}

.checkbox {
  margin-right: 8px;
  cursor: pointer;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.item {
  display: inline-block;
  font-family: "Lucida Handwriting Std";
}

.cross {
  margin-left: auto;
  padding: 0px 6px 1px;
  color: #696969;
}

.cross:hover {
  background-color: #f6f6f6;
  border-radius: 50%;
}

.checked {
  color: #969696;
  text-decoration: line-through;
}